# Environment files
.env

# Credentials
credentials/

# Logs
logs/
*.log

# macOS
.DS_Store
._*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~


# Driver
bin/firefox/
bin/geckodriver

# Local gems installed by bin/setup_sprite
vendor/bundle/
